# Executables
*.exe
*.out
*.app
# Simulink code generation folders
slprj/
sccprj/
*_slrt_rtw/
# Mex functions
*.mexw64
# Simulink autosave extension
*.autosave
# Windows default autosave extension
*.asv
# build folder for automated making and testing
/build/*
!/build/Readme.md
# exclude measurement files
*.DAT
/data/*
!/data/Readme.md
*.mat

# Python
*.pyc
.vscode/
venv/
.idea
.gitignore
